<form action="" method="get">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="{{ input_get('email') }}" />

    {#<input type="button" value="Clear" />#}
    <input type="submit" value="Filter" />
</form>