<th>
    <span>
        {{ column }}
    </span>
    <a class="order-dir order-desc{% if order_by == column and order_dir == 'desc' %} active{% endif %}" href="{{ order[column].desc }}">[DESC]</a>
    <a class="order-dir order-asc{% if order_by == column and order_dir == 'asc' %} active{% endif %}" href="{{ order[column].asc }}">[ASC]</a>
</th>
